/* AdminLayout.css */
.admin-layout {
  display: flex;
  min-height: 100vh;
  background: var(--light);
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.25s;
  margin-left: var(--sidebar-width);
}

.admin-main.collapsed {
  margin-left: var(--sidebar-width-collapsed);
}

.admin-content {
  padding: 20px;
  margin-top: 70px; /* header height */
}
